<div>
  <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="loadPurohit()" autocomplete="off">
    <div class="form-group">
      <button type="button" class="btn btn-primary" routerLink='/purohitadd'>Add New</button>
      <label class="ml-3">Verse: </label>
      <input type="<text>" class="form-control ml-1" name="verse" [(ngModel)]="userParams.verse">
        <label class="ml-3">Comment: </label>
        <input type="<text>" class="form-control ml-1" name="comment" [(ngModel)]="userParams.comment">
          <label class="ml-3">Chapter: </label>
        <input type="<text>" class="form-control ml-1" name="chapter" [(ngModel)]="userParams.chapter">
          <label class="ml-3">IGS: </label>
        <input type="<text>" class="form-control ml-1" name="igs" [(ngModel)]="userParams.igs">
        <button type="button" class="btn btn-secondary ml-3" type="submit">Apply Filters</button>
        <button (click)="resetFilters()" type="button" class="btn btn-info ml-1" type="submit">Reset Filters</button>
    </div>
  </form>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="tswami_gita_scsv | paginate: {itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems}">
    <!-- Position Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td class="align-top" mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="Verse">
      <th mat-header-cell *matHeaderCellDef> Verse </th>
      <td class="align-top" mat-cell *matCellDef="let element"> {{element.verse}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="Comment">
      <th mat-header-cell *matHeaderCellDef> Comment </th>
      <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
    </ng-container>
    <!-- Chapter Column -->
    <ng-container matColumnDef="Chapter">
      <th mat-header-cell *matHeaderCellDef> Chapter </th>
      <td class="align-top" mat-cell *matCellDef="let element"> {{element.chapter}} </td>
    </ng-container>
    <!-- IGS Column -->
    <ng-container matColumnDef="IGS">
      <th mat-header-cell *matHeaderCellDef> IGS </th>
      <td class="align-top" mat-cell *matCellDef="let element"> {{element.igs}} </td>
    </ng-container>
    <!-- Get Details -->
    <ng-container matColumnDef="getdetails">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" routerLink='/purohit/{{element.id}}'>Get Details</button> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination-controls
      (pageChange)="onPageChanged($event)">
    </pagination-controls>
  </div>
</div>