a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
a:hover {
    background-color: #ddd;
    color: black;
  }
.previous {
    background-color: #f1f1f1;
    color: black;
  }

.next {
    background-color: #04AA6D;
    color: white;
}

.addnew {
    background-color: #1b38dd;
    color: white;
}

.firsts {
    background-color: #ad3b06;
    color: white;
}

.round {
    border-radius: 50%;
  }

  label {
    display: inline-block;
    text-align: right;
  }

  textarea {
    vertical-align: top;
  }

  .w-10{
    width: 10% !important;
  }

  .w-20{
    width: 20% !important;
  }

  .w-33{
    width: 32% !important;
  }

  .w-82{
    width: 82% !important;
  }

  .w-40{
    width: 40% !important;
  }